/* COLORS (All RGB)

Text Grey: 86,85,103,100   HEX #565567
Header Black: 42,41,63,100  HEX #2A293F
Headeer Black: #1c1c1d
*/


/*    ———————————————————Font Families——————————————————————      */
.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*    ———————————————————Foundations——————————————————————      */
* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    letter-spacing: -.01ch;
    word-spacing: -.1ch;
}

h1 {
    font-size: 2.86rem;
    font-weight: 900;
}

h2 {
    font-size: 2.488rem;
    font-weight: 700;
}

h3 {
    font-size: 2.074rem;
    font-weight: 700;
}

h4 {
    font-size: 1.728rem;
    font-weight: 700;
}

h5 {
    font-size: 1.44rem;
    font-weight: 700;
}

h6 {
    font-size: 1.2rem;
    font-weight: 700;
}

.subhead {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-weight: 400rem
}

.small-caps {
    font-size: 0.833rem;
    font-weight: 600;
    text-transform: uppercase;
}

img {
    width: 100%;
}

a {
    color: #544dd5;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: #5f5e76;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

a:active {
    color: #545277;
}

.button {
    display: inline-block;
    background-color: #544dd5;
    color: #ffffff !important;
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 4px;
    border-bottom: 2px solid #2833ac;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

header {
    background-color: #1c1c1d;
    padding: 18px 10px;
    text-align: center;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
}

.css-box-shadow {
    width: [object Object]px;
    height: [object Object]px;
    background: #1C1C1D;
    border: solid #FFFFFF 0;
    box-shadow: 0 6px 27px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 6px 27px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 6px 27px rgba(0, 0, 0, 1);
}

.logo {
    max-width: 200px;
}

#work {
    padding: 120px 0 0 0;
    width: 100%;
}

.logo-mark {
    max-width: 60px;
}

/* ---------------------Animation--------------------------- */
.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(400px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ——————————————————————Layout Styling————————————————————— */


.center {
    text-align: center;
}

.container {
    padding: 0 15px;
    width: 100%;
}

.row {
    margin: 24px 0;
}

.objectives {
    width: 100;

}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #c6c6c6 !important;
}

nav>ul>li>a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #FFF !important;
}

nav>ul>li>a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #c6c6c6 !important;
}

nav>ul>li>a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #FFF !important;
}

main {
    padding: 80px 0 0 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #565567;
}

#hero {
    padding: 16px 0 100px 0;
    background-color: #c6c6c6;
    display: inline-block;
    width: 100%;
}

#front-hero {
    padding: 80px 0 100px 0;
    background-color: #c6c6c6;
    text-align: center;
    width: 100%;
}

#hero h1 {
    text-align: center;
}

#hero p {
    text-align: center;
}

.intro-sub {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    align-content: center;
}

.intro-sub-item {
    display: inline-flex;
    align-items: center;
    width: 225px;
    column-gap: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 8px;
}

.column {
    display: inline-block;
    width: 100%;
}

footer .container {
    text-align: center;
}

.social>ul {
    list-style-type: none;
    padding: 0;
}

.social>ul>li {
    display: inline-block;
    padding: 0 20px;
}

.vertical-space {
    padding: 80px 0;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
}

.samples {
    display: inline-flex;
    direction: ltr;
    width: 100%;
    column-gap: 12px;
}



/* ----------------------- Responsive Rules ----------------------------------*/


/* Medium Viewport */
@media only screen and (min-width: 640px) {

    header {
        text-align: unset;
        padding: 18px 18px;

    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    #work {
        padding-top: 60px;
    }

    /* main {
    padding-top: 80px;
  } */

    #hero {
        padding-top: 0px;
    }

    #front-hero span {
        display: block;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .intro-sub {
        max-width: 600px;
        padding: 0;
    }

    .intro-sub-item {
        column-gap: 8px;
        padding: 10px;
    }
}


/* Large Viewport */
@media only screen and (min-width: 1440px) {

    .col-lg-4 {
        width: 33.33%;
    }

    .objectives {
        width: 100;
        display: flex;
        justify-content: space-evenly;

    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    #about h2 {
        margin: 4px;
    }

    #about h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #about .col-md-6 {
        width: 100%;
        text-align: left;
        padding-left: 108px;
        margin-top: 0;
    }

    #work {
        padding-top: 40px;
    }

    .intro-sub {
        max-width: 100%;
        padding: 0;
    }

    .intro-sub-item {
        width: fit-content;
        column-gap: 8px;
        padding: 10px 40px;
    }
}