/*    ———————————————————Font Families——————————————————————      */
.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*    ———————————————————Foundations——————————————————————      */
* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    letter-spacing: -.01ch;
    word-spacing: -.1ch;
}

h1 {
    font-size: 2.86rem;
    font-weight: 900;
}

h2 {
    font-size: 2.488rem;
    font-weight: 700;
}

h3 {
    font-size: 2.074rem;
    font-weight: 700;
}

h4 {
    font-size: 1.728rem;
    font-weight: 700;
}

h5 {
    font-size: 1.44rem;
    font-weight: 700;
}

h6 {
    font-size: 1.2rem;
    font-weight: 700;
}

.subhead {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-weight: 400rem
}

.small-caps {
    font-size: 0.833rem;
    font-weight: 600;
    text-transform: uppercase;
}

img {
    width: 100%;
}

a {
    color:grey;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: grey;
}

a:hover,
a:focus {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

a:active {
    color: grey;
}

.button {
    display: inline-block;
    background-color: #544dd5;
    color: #ffffff !important;
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 4px;
    border-bottom: 2px solid #2833ac;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

header {
    background-color: #1c1c1d;
    padding: 18px 10px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
}

.logo {
    max-width: 150px;
    height: auto;
    /* margin: 8px 0; */
}

#work {
    padding: 40px 0 0 0;
    width: 100%;
}

.logo-mark {
    max-width: 60px;
}

/*    ———————————————————Foundations END——————————————————————      */




/*COLORADO ANIMATION START –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


.cls-1 {
    fill: none;
}

.cls-2 {
    fill: #4986b1;
}

.cls-3 {
    fill: url(#linear-gradient);
}

.cls-4 {
    fill: #76aecc;
}

.cls-5 {
    fill: #215880;
}

.cls-6 {
    clip-path: url(#clippath-10);
}

.cls-7 {
    fill: #22425a;
}

.cls-8 {
    clip-path: url(#clippath-1);
}

.cls-9 {
    clip-path: url(#clippath-3);
}

.cls-10 {
    clip-path: url(#clippath-4);
}

.cls-11 {
    clip-path: url(#clippath-2);
}

.cls-12 {
    clip-path: url(#clippath-7);
}

.cls-13 {
    clip-path: url(#clippath-6);
}

.cls-14 {
    clip-path: url(#clippath-9);
}

.cls-15 {
    clip-path: url(#clippath-8);
}

.cls-16 {
    clip-path: url(#clippath-5);
}

.cls-17 {
    fill: #9dc7d8;
}

.cls-18 {
    fill: #1b343f;
}

.cls-19 {
    fill: #1f5e8d;
}

.cls-20 {
    fill: #274f6c;
}

.cls-21 {
    clip-path: url(#clippath);
}

#clouds {
    animation: gentleDrift 15s infinite linear;
}

@keyframes gentleDrift {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(3700px, 50px);
    }
}



/*COLORADO ANIMATION END –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */



/* ——————————————————————Layout Styling————————————————————— */


.center {
    text-align: center;
}

.container {
    padding: 0 15px;
    width: 100%;
}

.row {
    margin: 24px 0;
}

.objectives {
    width: 100%;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.navtoggle.responsive li {
    display: block;
    width: 100%;
}

/* -------------------------------------Mobile Menu Dropdown Fixes START------------------------------------------------- */
.navtoggle.responsive nav>ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1c1c1d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 10;
    margin: 0;
    padding: 0;
}

.navtoggle.responsive nav>ul>li:nth-child(1),
.navtoggle.responsive nav>ul>li:nth-child(2),
.navtoggle.responsive nav>ul>li:nth-child(3) {
    width: 100%;
    display: block;
}

.navtoggle.responsive nav>ul>li:last-child {
    display: contents;
}

.navtoggle.responsive nav>ul>li>a:not(.icon) {
    display: block;
    padding: 15px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.navtoggle.responsive .icon {
    position: fixed;
    top: 24px;
    right: 25px;
    z-index: 11;
    display: flex;
    align-items: center;
}

/* -------------------------------------Mobile Menu Dropdown Fixes END------------------------------------------------- */

.navtoggle .logo {
    flex-shrink: 0;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle li .icon {
    position: static;
    padding: 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #c6c6c6 !important;
}

nav>ul>li>a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #FFF !important;
}

nav>ul>li>a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #c6c6c6 !important;
}

nav>ul>li>a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #FFF !important;
}

main {
    padding: 64px 0 0 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #565567;
}

#hero {
    padding: 16px 0 100px 0;
    background-color: #c6c6c6;
    display: inline-block;
    width: 100%;
}

#front-hero {
    padding: 80px 0 100px 0;
    background-color: #c6c6c6;
    text-align: center;
    width: 100%;
}

#hero h1 {
    text-align: center;
}

#hero p {
    text-align: center;
}

.intro-sub {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    align-content: center;
}

.intro-sub-item {
    display: inline-flex;
    align-items: center;
    width: 225px;
    column-gap: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 8px;
}

.column {
    display: inline-block;
    width: 100%;
}

.animation {
    width: 100%;
}

footer .container {
    text-align: center;
    color: white;
    background-color: #1b343f;
    padding: 0;
}

.legal {
    font-size: .6rem;
    margin: 0;
    padding: 8px 0;
    line-height: 1rem;
}

.social>ul {
    list-style-type: none;
    padding: 0;
}

.social>ul>li {
    display: inline-block;
    padding: 0 20px;
}

.vertical-space {
    padding: 80px 0;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
}

.samples {
    display: inline-flex;
    direction: ltr;
    width: 100%;
    column-gap: 12px;
}

.headshot {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.single-image {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.mock-image {
    display: inline-block;
    align-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}





.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    max-height: 700px;
    overflow: hidden;
}

.text-content {
    flex: 1;
    max-width: 600px;
}

.image-content {
    display: block;
    flex-shrink: 0;
    max-width: 200px;
    justify-self: center;
}

.image-content picture {
    width: 100%;
    height: auto;
    display: block;
    align-content: center;
    ;
}







/* ----------------------- Responsive Rules ----------------------------------*/


/* Medium Viewport ––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 641px) {



    header {
        text-align: unset;
        padding: 18px 18px;

    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    nav>ul {
        margin: .25em 0;
    }


    .logo {
        max-width: 200px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    #work {
        padding-top: 60px;
    }


    #hero {
        padding-top: 0px;
    }

    #front-hero span {
        display: block;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .intro-sub {
        max-width: 600px;
        padding: 0;
    }

    .intro-sub-item {
        column-gap: 8px;
        padding: 10px;
    }


    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 400px;
        overflow: hidden;
        gap: 20px !important;
        align-items: flex-start;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
    }

    .image-content {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .image-content img {
        width: auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }




}


/* Large Viewport ––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 1440px) {

    .logo {
        max-width: 200px;
    }

    .col-lg-4 {
        width: 33.33%;
        display: inline-block;
    }

    .objectives {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #1c1c1d;
        color: white;
    }


    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #about h2 {
        margin: 4px;
    }

    #about h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #about .col-md-6 {
        width: 100%;
        text-align: left;
        padding-left: 108px;
        margin-top: 0;
    }

    #work {
        padding-top: 40px;
    }

    .intro-sub {
        max-width: 100%;
        padding: 0;
    }

    .intro-sub-item {
        width: fit-content;
        column-gap: 8px;
        padding: 10px 40px;
    }

    .section {
        gap: 150px;
    }
}